
    <main class="flex-fill">
      <div class="container w-25 h-25 mt-5">
        <form action="/login-success" class="container w-500 h-500" method="post">
          <div class="mb-3">
            <label for="email" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              name="email"
              class="form-control"
              id="email"
              placeholder="name@example.com"
              required
            />
          </div>
          <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="Enter your password"
            required
          />
          </div>
          <button type="submit" class="btn btn-outline-dark">Log-In</button>
        </form>
      </div>
    </main>
   

