*{
    margin: 0;
    padding: 0;
}
.user-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
#card{
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.edit-icon {
    text-decoration: none;
    color: gray;
}
.delete-icon {
    text-decoration: none;
    color: #dc3545;
}